@media only screen and (max-width: 992px) {
  * {
    padding: 0 !important;
    margin: 0 !important; } }

ul {
  list-style: none; }

#flexCheckDefault {
  display: none; }

.listaHeader {
  display: none; }

.bg-marron {
  background-color: #d1b092 !important; }

#flexCheckDefault:checked ~ .navegadorMobile {
  display: flex !important;
  position: absolute;
  top: 24px !important;
  background: #d1b092;
  width: 100%;
  height: calc(100vh - 89px - 24px); }

.imagenFranquicia {
  height: 224px !important;
  width: 300px !important; }

.oculto {
  display: none; }

.producto {
  height: 300px !important;
  width: 250px !important; }

.imagenProducto {
  max-height: 200px !important; }
