    /* NAVEGADOR */
.body__header__navegador{
    background-color: #fff;
    background-color:rgba(209,176,146);
    position: sticky;
}
.body__header__navegador--mobile{
    margin: auto;
    max-width: 80%;
    padding: 0.5rem;
    display: none;
}
#nav-mobile{
    display: none;
}
#nav-mobile:checked ~ .body__header__navegador__contenedor{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(209,176,146);
    max-width: 100%;
    width: 100%;
    height: calc(100vh - 125px);
}
.body__header__navegador__contenedor{
    margin: auto;
    max-width: 70%;
    display: flex;
    justify-content: space-around;
}
.body__header__navegador__contenedor__item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
.body__header__navegador__contenedor__item:hover{
    color: black;
}
    /* HEADER */
.body__header{
    z-index: 1000;
    grid-area: header;
    background-color: #fff;
    position: sticky;
    top: 0;
}
.body__header__contenedor{
    margin: auto;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
}
.body__header li{
    color: #AAA8A8;
    list-style-type: none;
}
    /* FOOTER */
.body__footer{
    grid-area: footer;
}
.body__footer__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 18%;
    box-sizing: border-box;
    background-color: rgba(209,176,146);
}
.body__footer__contenedor__span{
    border: #000 1px solid;
    padding: 0 0.6rem;
    display: flex;
    background-color: #fff;
}
.body__footer__contenedor__span__lista{
    list-style-image: url(../images/delivery.png);
    color: rgba(209,176,146);
    list-style-type: none;
}
.body__footer__contenedor__redes{
    align-self: center;
    margin-right: 10%;
}
.body__footer__contenedor__span__lista--sinimagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}
.body__footer__contenedor__span__lista--sinimagen a {
    line-height: 24px;
}
.wpp__imagen{
    vertical-align: middle;
}
    /* MENU */
.body__menu__contenedor{
    display: flex;
    flex-direction: column;
}
.body__menu__contenedor__seccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 250px;
}
.body__menu__contenedor__seccion__imagen{
    box-sizing: border-box;
    padding: 0 3rem;
}
.body__menu__helados__contenedor__img--oculto{
    display: none;
}
.body__menu {
    max-width: 1000px;
    margin: auto;
    font-family: 'Ibarra Real Nova', serif;
    background-color: #FFD9B3;
}
.body__menu h1{
    text-align: center;
}
.body__menu h4{
    text-align: center;
}
.body__menu__helados__bombones {
    text-align: center;
    width: 100%;
}
/* INDEX */
.body__section  {
    grid-area: section;
}
.body__section__index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body__section__index__contenedor{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
}
.body__section__index__imagen{
    height: 50vh;
    width: 100%;
}
.body__section__index__contenedor h1{
    color: #000;
    background-color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2rem;
}
.body__section__index__contenedor a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}
.body__section__index__contenedor a span{
    background-color: #000;
    border: #fff solid;
    padding: 1.5rem;
    transition: 0.7s;
}
.body__section__index__contenedor a span:hover{
    background-color: #ff00ff;
}
/* NOSOTROS */
.imagenNosotros{
    display: block;
    margin: auto;
}
/* CONTACTO */
.section__formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0rem;
}
.section__formulario__contenedor{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 0.5rem;
}
.section__formulario__contenedor textarea {
    height: 80px;
}
.section__formulario__contenedor--row {
    flex-direction: row;
}
.section__formulario__contenedor--derecha{
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem 4rem;
}
/* FRANQUICIA */
.franquicia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.franquicia__contenedor--card{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: center;
    width: 65%;
    min-width: 750px;
    border-radius: 25%;
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(232, 217, 201);
}
.franquicia__contenedor--card img {
    width: 300px;
    height: 224px;  
    border: 2px solid #000;
    margin: 2rem;
    border-radius: 50%;
}
#fieldsetFranquicia {
    margin: 2rem;
}
.franquicia__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}
.franquicia__contenedor__fila {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}   
.franquicia__contenedor__fila__input {
    margin: .2rem .3rem;
    display: flex;
    flex: 1;
}
.franquicia__contenedor__fila1{
    display: flex;
    width: 90%;
}
.franquicia__contenedor__fila1__input{
    margin: .2rem .3rem;
    display: flex;
    flex: 1;
}
.franquicia__contenedor__fila2{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
}
#enviarForm {
    margin: 1rem;
}
.newsletter {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 60px;
    max-height: 60px;
}
/* LOCALES */
.sectionlocales{
    display: flex;
    flex-direction: row;
}
.sectionlocales__contenedor {   
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sectionlocales__contenedor__card{
    display: block;
    font-size: larger;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(209,176,146);
}
.sectionlocales input{
    display: none;
}
.sectionlocales__contenedor__card--oculto{
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: none;
    
}
#mercedes:checked + label > span{
    display: block;
}
#lobos:checked + label > span{
    display: block;
}
#chivilcoy:checked + label > span{
    display: block;
}
#mayo:checked + label > span{
    display: block;
}
#ballester:checked + label > span{
    display: block;
}
#suarez:checked + label > span{
    display: block;
}

/* GRID */
.body {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 100%;
    grid-template-areas:"header"
                        "section"
                        "footer";
    margin: 0;
    padding: 0;
}
/* MEDIA QUERIE */

@media screen and (max-width: 900px){
    .body__header__navegador__contenedor{
        display: none;
    }
    .body {
        min-width: 500px;
    }
    .body__header__navegador--mobile{
        display: flex;
    }
    .body__header__contenedor ul {
        display: none;
    }
    .body__section__index__contenedor h1{
        font-size: 1.5rem;
    }
    .body__section__index__contenedor a span{
        padding: .9rem;
    }
    .body__footer__contenedor__span {
        display: none;
    }
    .body__footer__contenedor__redes {
        margin: auto;
        flex-wrap: nowrap;
    }
    .body__footer__contenedor__redes img {
        padding: 0.5rem 2rem;
        
    }
    .section__formulario__contenedor--derecha{
        justify-content: center;
    }
    .franquicia__contenedor--card{
        flex-direction: column;
        align-items: center;
        min-width: 0;
    }
    .franquicia__contenedor__fila{
        flex-direction: column;
    }
    .franquicia__contenedor__fila1{
        flex-direction: column;
    }
    .franquicia__contenedor__fila2{
        width: 90%;
    }
    .franquicia__contenedor__fila2 textarea{
        width: 100%;
    }
    .sectionlocales{
        flex-direction: column;

    }
    .sectionlocales__contenedor__card{
        margin: 1rem;
    }
    .sectionlocales__contenedor__card--oculto{
        margin: 0;
        padding: 1rem;
    }
    .body__menu__contenedor__seccion{
        flex-direction: column;
        padding: 2rem;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }
    .body__menu__helados__contenedor__img{
        display: none;
    }
    .body__menu__helados__contenedor__img--oculto{
        display: flex;
        margin: auto;
        padding-top: 1.5rem;
        padding-bottom: 0.2rem;
    }
    .body__menu__contenedor__seccion__contenido{
        background-color: rgba(209,176,146);
        width: 80%;
    }
    .body__menu__contenedor{
        font-size: small;
        min-width: 600px;
    }
    .imagenNosotros{
        height: auto;
        width: 80vw;
        min-width: 550px;
    }
}