    /* NAVEGADOR */
.body__header__navegador{
    background-color: #fff;
    background-color:rgba(209,176,146);
    position: sticky;
}
.body__header__navegador__contenedor{
    margin: auto;
    max-width: 70%;
    display: flex;
    justify-content: space-around;
}
.body__header__navegador__contenedor__item{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
.body__header__navegador__contenedor__item:hover{
    color: black;
}
    /* HEADER */
.body__header{
    background-color: #fff;
    position: sticky;
    top: 0;
}
.body__header__contenedor{
    margin: auto;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
}
.body__header li{
    color: #AAA8A8;
    list-style-type: none;
}
    /* FOOTER */
.body__footer__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 18%;
    box-sizing: border-box;
    background-color: rgba(209,176,146);
}
.body__footer__contenedor__span{
    border: #000 1px solid;
    padding: 0 0.6rem;
    display: flex;
    background-color: #fff;
}
.body__footer__contenedor__span__lista{
    list-style-image: url(../images/delivery.png);
    color: rgba(209,176,146);
    list-style-type: none;
}
.body__footer__contenedor__redes{
    align-self: center;
    margin-right: 10%;
}
.body__footer__contenedor__span__lista--sinimagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}
.body__footer__contenedor__span__lista--sinimagen a {
    line-height: 24px;
}
.wpp__imagen{
    vertical-align: middle;
}
    /* MENU */
.menu {
    max-width: 1000px;
    margin: auto;
    font-family: 'Ibarra Real Nova', serif;
}
.menu h1{
    text-align: center;
}
.menu h4{
    text-align: center;
}
.menu__helados__bombones {
    text-align: center;
    width: 100%;
}
.section{
    margin: auto;
}
.section__imagen{
    width: 100%;
}
.section h1{
    position: absolute;
    top: 300px;
    left: 36%;
    color: #000;
    background-color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
}
.section a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}
.section a span{
    position: absolute;
    background-color: #000;
    border: #fff solid;
    padding: 1.5rem;
    top: 400px;
    left: 43%;
    transition: 0.7s;
}
.section a span:hover{
    background-color: #ff00ff;
}
.imagenNosotros{
    display: block;
    margin: auto;
}
.formulario{
    margin: 5rem auto 5rem auto;
    max-width: 1000px;
}
.formulario__contenedor{
    height: 100%;
    display: inline-block;
    margin: 0.3rem;
}
.formulario__contenedor--block{
    display: block;
}
.formulario__contenedor__texto {
    width: 100%;
    height: 10rem;
}
.formulario__contenedor--derecha{
    display: inline-block;
    position: relative;
    left: 55%;
}
.franquicia__contenedor{
    display: inline-block;
    text-align: center;
}
.franquicia {
    max-width: 1300px;
    margin: auto;
}
.formulario__contenedor__parrafo{
    text-align: center;
    font-size: 29px;
    max-width: 600px;
    display: inline-block;
}
.franquicia__contenedor--card{
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    width: 100%;
    background-color: rgb(232, 217, 201);
}
.franquicia__contenedor__fila {
    margin: 0.3rem auto 0.3rem auto;
}
.franquicia__contenedor--card img {
    border: #000 solid 2px;
}
.franquicia__contenedor__fila__input {
    width: 20%;
}
.--ancho {
    width: 9%;
}
.franquicia__contenedor__fila1 {
    max-width: 90%;
    margin: auto;
}
.franquicia__contenedor__fila1__input{
    width: 40%;
    margin: 0.3rem auto 0.3rem auto
}
.newsletter {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 60px;
    max-height: 60px;
}
.sectionlocales__contenedor {
    max-width: 600px;
    margin: auto;
}
.sectionlocales__contenedor__card{
    font-size: larger;
    text-align: center;
    margin: 2.5rem;
    display: block;
    border-radius: 1rem;
    background-color: rgba(209,176,146);
}
.sectionlocales input{
    display: none;
}
.sectionlocales__contenedor__card--oculto{
    background-color: #fff;
    border: rgba(209,176,146) solid 2px ;
    margin: auto;
    display: none;
    
}
#mercedes:checked + label > span{
    display: block;
}
#lobos:checked + label > span{
    display: block;
}
#chivilcoy:checked + label > span{
    display: block;
}
#mayo:checked + label > span{
    display: block;
}
#ballester:checked + label > span{
    display: block;
}
#suarez:checked + label > span{
    display: block;
}

/* GRID */
.body {
    min-width: 900px;
}