.navegador{
    background-color: #fff;
    position: sticky;
    top: 146px;
}
.navegador__contenedor{
    background-color:rgba(209,176,146);
    width: 100%;
    margin: auto;
}
.navegador__contenedor__item{
    width: 14.5%;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5rem;
    display: inline-block;
}
.navegador__contenedor__item:hover{
    color: black;
    font-weight: 700;
}
.header{
    position: sticky;
    top: 0;
    background-color: #fff;
}
.header__table{
    width: 1000px;
    margin: auto;
}
.header li{
    color: #AAA8A8;
    list-style-type: none;
}
.footer__fieldset__span h3{
    color: rgba(209,176,146);
    display: inline-block;
}
.footer__fieldset__span__lista{
    list-style-image: url(../images/delivery.png);
    color: rgba(209,176,146);
    list-style-type: none;
    display: inline-block;
}
.footer__fieldset__span__lista--sinimagen{
    margin-top: 0; 
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-top: 8px;
}
.wpp2{
    height: 24px;
}   
.wpp{
    display: block;
}
.footer__fieldset__span{
    box-sizing: border-box;
    border: #000 1px solid;
    padding: 0 0.6rem;
    display: inline-block;
    background-color: #fff;
}
.footer__fieldset__redes{
    display: inline-block;
    position: relative;
    left: 80%;
}
.footer__fieldset{
    background-color: rgba(209,176,146);
    margin: auto;
}
.footer__fieldset__redes__twitter{
    max-width: 29px;
    max-height: 29px;
}
.menu {
    max-width: 1000px;
    margin: auto;
    font-family: 'Ibarra Real Nova', serif;
}
.menu h1{
    text-align: center;
}
.menu h4{
    text-align: center;
}
.menu__helados__bombones {
    text-align: center;
    width: 100%;
}
.section{
    margin: auto;
}
.section__imagen{
    width: 100%;
}
.section h1{
    position: absolute;
    top: 300px;
    left: 36%;
    color: #000;
    background-color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
}
.section a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: 'Ibarra Real Nova', serif;
}
.section a span{
    position: absolute;
    background-color: #000;
    border: #fff solid;
    padding: 1.5rem;
    top: 400px;
    left: 43%;
    transition: 0.7s;
}
.section a span:hover{
    background-color: #ff00ff;
}
.imagenNosotros{
    display: block;
    margin: auto;
}
.formulario{
    margin: 5rem auto 5rem auto;
    max-width: 1000px;
}
.formulario__contenedor{
    height: 100%;
    display: inline-block;
    margin: 0.3rem;
}
.formulario__contenedor--block{
    display: block;
}
.formulario__contenedor__texto {
    width: 100%;
    height: 10rem;
}
.formulario__contenedor--derecha{
    display: inline-block;
    position: relative;
    left: 55%;
}
.franquicia__contenedor{
    display: inline-block;
    text-align: center;
}
.franquicia {
    max-width: 1300px;
    margin: auto;
}
.formulario__contenedor__parrafo{
    text-align: center;
    font-size: 29px;
    max-width: 600px;
    display: inline-block;
}
.franquicia__contenedor--card{
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    width: 100%;
    background-color: rgb(232, 217, 201);
}
.franquicia__contenedor__fila {
    margin: 0.3rem auto 0.3rem auto;
}
.franquicia__contenedor--card img {
    border: #000 solid 2px;
}
.franquicia__contenedor__fila__input {
    width: 20%;
}
.--ancho {
    width: 9%;
}
.franquicia__contenedor__fila1 {
    max-width: 90%;
    margin: auto;
}
.franquicia__contenedor__fila1__input{
    width: 40%;
    margin: 0.3rem auto 0.3rem auto
}
.newsletter {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 60px;
    max-height: 60px;
}